/* small laptop - large: 1024px - 1280px */

@media (max-width: 72rem) {
  /* 1140px /16px = 71.25rem */
  /* 72rem x 16px = 1150 px */

  html {
    font-size: 56.25%;
    /* 9px / 16px = 56.25% */
  }

  .box li {
    column-gap: 4rem;
  }
}

/* tablets - small laptops: 768px - 1024px */

@media (max-width: 62rem) {
  /* 990px /16px = 61.8rem */
  /* 62rem x 16px = 992px */

  html {
    font-size: 50%;
    /* 8px / 16px = 50% */
  }

  .logo img {
    height: 60px;
  }

  .main-section {
    margin: 0 4rem;
  }

  .box li {
    padding: 2rem 3rem;
  }

  .sum-list img {
    height: 18px;
  }

  .watched-list img {
    height: 18px;
  }

  .watched-summary {
    padding: 2rem 2rem;
  }
}

/* phone landscape - tablets: 576px - 768px */

@media (max-width: 47rem) {
  /* 744px / 16px = 46.5rem */
  /* 47rem x 16px = 752px */

  html {
    font-size: 43.75%;
  }

  .movie-img {
    height: 70px;
  }

  .box li {
    column-gap: 2rem;
    padding: 2rem 2rem;
  }

  .watched-summary {
    padding: 2rem 1rem;
  }

  .main-section {
    gap: 3rem;
  }

  .watched-summary div p {
    gap: 2px;
  }

  .details img {
    height: 150px;
  }

  .movie-details {
    padding: 1rem 2rem;
  }
}

/* phone portrait: < 576px  */

@media (max-width: 38rem) {
  /* 600px / 16px = 37.5rem */
  /* 38rem x 16px = 608px */

  html {
    font-size: 37.5%;
  }

  .navbar p {
    display: none;
  }

  .movie-img {
    height: 55px;
  }

  .main-section {
    gap: 1rem;
  }

  .watched-list img {
    height: 14px;
  }

  .sum-list img {
    height: 14px;
  }

  .search-logo {
    height: 18px;
  }

  .logo img {
    height: 40px;
  }
}

@media (max-width: 30rem) {
  /* 472px / 16px = 29.5rem */
  /* 30rem x 16px = 480px */

  html {
    font-size: 31.25%;
  }

  .watched-list {
    display: flex;
    gap: 1rem;
  }

  .details img {
    height: 120px;
  }
}
